{% extends "layout.html" %}

{% block content %}

 <div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<br>
            <br>
            <br>
            <br>
            <h2>Shih Tzu - A Brief History </h2>
			<br>
			<br>
            <br>
			<p>The name “Shih Tzu” means little lion, but there’s nothing fierce about this dog breed. This pooch is a lover, not a hunter..</p>
			<p>Some believe the breed was developed by Tibetan Monks and given as gifts to Chinese royalty. It is also speculated that the Shih Tzu was developed in China by crossing other breeds with the Lhasa Apso or Pekingnese. Regardless of where the breed was developed--Tibet or China--it's clear that the Shih Tzu was a treasured companion from the earliest times. Paintings, art, and writings from the China's Tang Dynasty (618-907 A.D.) portray small dogs similar to the Shih Tzu. References to the dogs appear again from 990 to 994 A.D. in documents, a few paintings, and carvings.</p>
            <p>In the 13th century, Marco Polo reported that the Mongolian Emperor Kubla Khan kept small "lion" dogs with trained hunting lions--not as prey, but to keep the lions calm. Some believe these dogs were the Shih Tzu. During the Ming Dynasty (1368-1644), Chinese royal families kept Shih Tzu-type dogs, and the "little lion dogs" or "chrysanthemum-faced" dogs were mentioned in several documents from that period. They were reportedly small, intelligent, docile dogs that strongly resembled lions.</p>
            <p>In 1861, the Shih Tzu became popular in the Imperial Court after a royal concubine became the Empress of China. One of Empress T'zu Hsi's first royal edicts was that anyone caught torturing palace dogs would be put to death. Empress T'zu Hsi had a great love for animals and carried out extensive breeding programs under the direct care of palace eunuchs.  During Empress T'zu Hsi's reign, the Dalai Lama gave her a pair of magnificent Shih Tzus, reportedly the source of the imperial palace's little lion dogs. It's said that the Shih Tzus had their own palace and were trained to sit up and wave their front paws when the Empress visited.</p>
            <br>
            <br>
			<a href="{{url_for('login')}}" class="btn btn-primary">See more pictures of Lulu</a>
		</div>
		<div class="col-lg-6">
			<img src="{{url_for('static', filename='img/WHATSAPP IMAGE 2019-10-12 AT 21.06.20.jpeg')}}" height="400" width="600" class="img-fluid">
		</div>
	</div>
</div>
    <hr class="my-4">
    <div class="container-fluid padding">
	<div class="row padding">
		<div class="col-lg-6">
			<img src="{{url_for('static', filename='img/WHATSAPP IMAGE 2019-11-24 AT 10.50.44.jpeg')}}" height="400" width="600" class="img-fluid">
		</div>
        <div class="col-md-12 col-lg-6">
			<br>
            <br>
            <h2>More About The Breed</h2>
			<br>
			<br>
			<p>James Mumsford, an American teacher and composer, perhaps described the Shih Tzu best: "Nobody knows how the ancient eunuchs managed to mix together: a dash of lion, several teaspoons of rabbit, a couple of ounces of domestic cat, one part court jester, a dash of ballerina, a pinch of old man, a bit of beggar, a tablespoon of monkey, one part baby seal, a dash of teddy bear, and, for the rest, dogs of Tibetan and Chinese origin."</p>
			<p>The object of Mumsford's colorful description, the Shih Tzu--pronounced SHEED Zoo, SHID Zoo, or SHEET Sue--is a small, regal dog with long, abundant locks, a distinctive face that melts many a heart, and a friendly attitude. The breed can boast a classy background: they were originally kept by royal Chinese families during the Ming Dynasty.</p>
            <p>The Shih Tzu personality is enormously appealing, and even grudging dog observers find it hard to resist this breed. The Shih Tzu simply doesn't allow anyone to ignore them. The were bred to be a friendly companion--they don't hunt, herd, or guard--and that's what they are. They love nothing more than to meet and greet friends and strangers alike. Count on a Shih Tzu to make friends wherever they go.</p>
            <p>Not only is this member of the Toy Group good-natured and friendly, they're highly adaptable. They're as well suited to apartments in the city as to life on a country farm. They love children and get along with other animals. However, although the Shih Tzu is a sturdy dog, their small size puts them at a disadvantage. Adults should always supervise interactions between children and dogs, and this is especially important for the Shih Tzu, to prevent them from accidentally getting hurt during rough play.</p>
			<br>
			<a href="{{url_for('login')}}" class="btn btn-primary">See more pictures of Lulu</a>
		</div>
	</div>
</div>
    <hr class="my-4">
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<br>
            <br>
            <br>
            <br>
            <h2>Highlights</h2>
			<br>
			<br>
            <br>
            <br>
			<ul>
                <li>There is no such breed as an "imperial" or "teacup" Shih Tzu. These are simply marketing terms used by unscrupulous breeders use to indicate a very small or large Shih Tzu.</li>
                <li>Shih Tzus are difficult to housebreak. Be consistent, and do not allow a puppy to roam the house unsupervised until they are completely trained. Crate training is helpful.</li>
                <li>The flat shape of the Shih Tzu's face makes them susceptible to heat stroke, because the air going into the lungs isn't cooled as efficiently as it is among longer-nosed breeds. They should be kept indoors in air-conditioning rooms during hot weather.</li>
                <li>Be prepared to brush and comb the Shih Tzu coat every day. It mats easily.</li>
                <li>While Shih Tzus are trustworthy with children, they're not the best choice for families with toddlers or very young children because their small size puts them at risk for unintentional injury.</li>
                <li>The Shih Tzu tends to wheeze and snore, and can be prone to dental problems.</li>
                <li>While dogs of any breed may eat their own or other animals' feces (coprophagia), the Shih Tzu seems especially prone to this behavior. The best way to handle the problem is never let it become a habit. Watch your Shih Tzu closely and clean up poop right away.</li>
            </ul>
            <br>
			<a href="{{url_for('login')}}" class="btn btn-primary">See more pictures of Lulu</a>
		</div>
		<div class="col-lg-6">
			<img src="{{url_for('static', filename='img/WhatsApp Image 2020-03-07 at 20.59.50.jpeg')}}" height="400" width="600" class="img-fluid">
		</div>
	</div>
</div>


{% endblock %}