{% extends"layout.html" %}

{% block content %}
 <div class="d-flex justify-content-center text-black-50 font-weight bold">
    <form class="d-flex flex-column form-group bg-light shadow p-5 mt-5 border rounded" method="POST" action="{{url_for('login')}}">
        <label>Username</label>
        <input class="border rounded form-control" type="text" name="username" required minlength="6">
        <label>Password</label>
        <input class="border rounded form-control" type="password" name="password" required>
        <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary btl=lg" value="Login">
        </div>
        <div class="mt-3">
        <span class="mt-3">Don't have an account? </span><span><a href="{{url_for('register')}}">Sign Up</a></span>
        </div>
    </form>
</div>

    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}