{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Lulu</h1>
            </div>
            <hr class="display-4">
        </div>
    </div>

<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src ="{{url_for('static', filename='img/WHATSAPP IMAGE 2019-11-09 AT 20.46.45.jpeg')}}">
				<div class="card-body">
					<p class="card-text">What do you want me with me guys? I'm just trying to get some sleep...</p>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src ="{{url_for('static', filename='img/WHATSAPP IMAGE 2019-11-26 AT 18.11.34.jpeg')}}">
				<div class="card-body">
					<p class="card-text">I know I look amazing...Can you please stop taking pictures of me?</p>

                </div>
			</div>
		</div>
        <div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src ="{{url_for('static', filename='img/WhatsApp Image 2020-02-21 at 12.23.59.jpeg')}}">
				<div class="card-body">
					<p class="card-text">If I could smile, my smile would be larger than that of my favorite toy.</p>
                </div>
			</div>
		</div>
	</div>
</div>
    <div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src ="{{url_for('static', filename='img/WHATSAPP IMAGE 2019-11-09 AT 20.19.26.jpeg')}}">
				<div class="card-body">
					<p class="card-text">It has been a while since my last shower. Don't enjoy it but it had to be done.</p>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src ="{{url_for('static', filename='img/WhatsApp Image 2020-03-11 at 21.07.30.jpeg')}}">
				<div class="card-body">
					<p class="card-text">My ball and I would like to be left alone. We need to take an afternoon-nap.</p>

                </div>
			</div>
		</div>
        <div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src ="{{url_for('static', filename='img/WHATSAPP IMAGE 2019-11-26 AT 16.17.43 2.jpeg')}}">
				<div class="card-body">
					<p class="card-text">Please guys, get me out of here. I promise I won't get dirty ever again.</p>
                </div>
			</div>
		</div>
	</div>


</div>
{% endblock %}