{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center text-black-50 font-weight bold">
    <form class="d-flex flex-column w-25 bg-light shadow p-5 mt-5 border rounded" method="POST" action="{{url_for('register')}}">
        <label>Email Adress</label>
        <input class="border rounded bg-white" type="email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
        <label>Username</label>
        <input class="border rounded" type="text" name="username" required minlength="6">
        <label>Password</label>
        <input class="border rounded" type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" onchange="form.password_two.pattern = this.value;" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required >
        <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary btl-lg" value="Register">
        </div>
        <div class="mt-3">
        <span class="mt-3">Already have an account? </span><span><a href="{{url_for('login')}}">Login</a></span>
        </div>
    </form>
</div>

<br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}